//Add option error
.add-option-error{
    color:$off-white;
    font-style:italic;
    margin:$m-size;
    padding :0 $m-size;
}

.add-option{
    display: flex;
    flex-direction: column;
    padding: $m-size;

}

.add-option__input{
flex-grow: 1;
background: $dark-blue;
border-bottom:.3rem solid darkern($dark-blue,10%);
border:none;
margin-right: $s-size;
color:$off-white;
padding: $s-size;
margin: 0 0 $s-size 0;
}

@media(min-width:$desktop-breakpoint){

    .add-option{
        flex-direction: row;
    }

    .add-option__input{
        margin : 0 $s-size 0 0;
    }
}

