.header{
    background:$off-black;
    color: white;
    margin-bottom: $s-size;
    padding: $m-size 0;

}
//BEM --block element modifier
.header__title{
font-size:$l-size;
margin:0;

}

.header__subtitle{
    color:$off-white;
    font-size:$m-size;
    font-weight: 500;
}

@media(min-width:$desktop-breakpoint){
    .header{
        margin-bottom:$xl-size;
    }
}