.ReactModalPortal>div{
    opacity:0;
}

.ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    display:flex;
    justify-content: center;
    transition: opactity 200ms ease-in-out;
}


.ReactModalPortal .ReactModal__Overlay--after-open{
opacity:1;
}


.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity:0;
    }

.modal{
    background:$light-blue;
    color:white;
    max-width: 30 rem;
    outline: none;
    padding: $l-size;
    text-align: center;   
    word-break: break-all; 
}

.modal__title{
margin:0 0 $m-size 0;
}

.modal__body{
    margin:0 0 $l-size 0;
    font-size: 2rem;
    font-weight: 300;

}