.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
    margin:0 auto;
}

//Widget header
//off white
//no margin 
//l size
//center the text- using text align center
//border-button : 1 pm solid bolder ligher version of $light-blue 10%

.widget__message{
color: $off-white;
border: 0;
padding: $xl-size;
text-align: center;
border-bottom:1px solid lighten($light-blue, 10%)

}

.widget-header{
    background:$blue;
    color:$off-white;
    display:flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title{
    margin:0;
}